#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.settings-input-group {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.settings-input {
    max-width: 250px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
    color: white;
}

#configure {
    grid-column: 1 / 3;
    width: 150px;
    margin: auto;
    height: 50px;
    margin-top: 10px;
}
