#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.settings-input-group {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.settings-input {
    max-width: 250px;
    background: transparent;
    border: 1px solid white;
    border-radius: var(--default-border-radius);
    height: 25px;
    color: white;
}

#configure {
    grid-column: 1 / 3;
    width: 150px;
    height: 50px;
    margin: 10px auto auto;
}

#form-errors {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.settings-error {
    color: red;
}