<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Magic Marble</title>
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/modal.css" />
        <link rel="stylesheet" href="css/settings.css" />
    </head>
    <body>
        <div id="app">
            <modal
                :title="settingsConfig.title"
                :closeable="settingsConfig.closeable"
                @close-modal="settingsClose"
                v-if="settingsVisible"
            >
                <settings :button-text="settingsConfig.buttonText"></settings>
            </modal>
            <main id="content" :style="blurStyle">
                <div class="game-header-wrapper">
                    <h1 id="game-header">Magic Marbles</h1>
                </div>
                <game-field
                    :game-running="gameRunning"
                    :settings-visible="settingsVisible"
                    @reconfigure="reconfigure"
                    @restart=""
                    v-if="gameRunning"
                ></game-field>
                <div class="game-settings-wrapper" v-else>
                    <div class="no-game-settings">
                        <h1 class="new-game-title">Start New Game</h1>
                        <settings button-text="Start Game"></settings>
                    </div>
                </div>
            </main>
        </div>
        <script type="text/javascript" src="stateMixin.js"></script>
        <script type="text/javascript" src="modal.js"></script>
        <script type="text/javascript" src="settings.js"></script>
        <script type="text/javascript" src="field.js"></script>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>
